os: linux

dist: xenial

git:
  depth: 1

language: node_js

node_js:
  - 13.12.0 # Use Find and Replace to change

cache: npm

notifications:
  email: false

branches:
  only:
    - master
    - /^([0-9]|[1-9][0-9]*)\.([0-9]|[1-9][0-9]*)\.([0-9]|[1-9][0-9]*)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/ # Semver, for pushed tags

jobs:
  include:
    - stage: Check
      script: npm run check:lint
      name: Lint

    - script: npm run check:typescript
      name: TypeScript

    - script: npm run check:coverage
      name: Test and coverage

    - script: npm run check:npm-audit
      name: npm audit

    - script: npm run check:depcheck
      name: npm run check:depcheck

    - stage: Deploy
      os: osx
      name: Deploy
      script: "# Deploying..."
      deploy:
        provider: releases
        name: Orange v$TRAVIS_TAG
        tag_name: $TRAVIS_TAG
        token:
          secure: JHsvZR46m7FaRHt05Zc5RNY19KYmTk6thnDtUvkFeIYyPiBrnCtU6mbsov8dqBv5CGVeyKB5KZN6fGmKyMw1rV86keZL9sM7PssrCiv5Ioj0Se2M2+qVLv4N5juOmRKwuJy7MSGOw8l2xRP4e0JpcAeXpfJ+NQvn97uqVarezN14R1qd9jD/tiGYibD8n74tt0IqSsBrp1pLTL1uGzneYcVNp9ranEwqquQyDXvkq+xNm6DeLzwsDSiP0hNkH4poOoiK0KFLSwI5bFg1b7sO//pmorp8lpNp1P7O9b7kkhmZyaSo4qN3piy60d5E9pMtaXK1wsCXhyRLoTPEXStdWxnCU6y2aSjak/QCQINCYp7Ho7Zso/rgwq0sOR4VY5myxHUsp5LocvX6fxrvxKkiXkK8NMjDBAQVz5EIrbyWx8YKjHPYRf0m03a23YJPLgWv8JrAMixxXMaMaHuPEiWh1J2Fd/GwrBmz3ocasCpM3LaGos8CDDSoF4NetSRppya5WHt25SplUHZ1iE38IJcMh17JCUDzq0wwbjKf4a15b9v1WYwMPHZ6RaH2SgSRKe7cDYW5sejeP7nwkyPhx79EjNtqL8lFGynMIJjp6iCPbzMlamq6HwPrSJVt71A9RuiLRWdqzfnVbPpe1tGLyVNBl4UBe6AZIq9r/zCKJeEf83M=
        file: artifacts/electronPackager/Orange-macOS-$TRAVIS_TAG.zip
        draft: true
        on:
          tags: true
        edge: true

      before_deploy: npm run create-package
