:root {
  --foregroundColor: #c2c2c2;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--foregroundColor);
}

a:hover {
  border-bottom: none;
}

body {
  margin: 0 auto;
  border-top: 4px solid #ff9900;
  color: var(--foregroundColor);
  height: 100vh;
}

button {
  background-color: #222222;
  color: var(--foregroundColor);
  border-radius: 20px;
  padding: 10px;
  border-color: var(--foregroundColor);
}

button:hover:enabled {
  color: var(--foregroundColor);
  border-color: var(--foregroundColor);
  background-color: var(--black);
}

h1 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

html {
  font-size: 70%;
  background-color: #2b2b2b;
}

hr {
  border-color: var(--foregroundColor);
}
