/* Dark color palette: https://coolors.co/15202b-1da1f2-c73e1d-3e885b-ff9f1c-d8e2dc */
/* Light color palette: https://coolors.co/ffffff-14171a-1da1f2-c1292e-43c59e-f58f29 */
:root {
  --pixelUnit: 4px;
  --fontColor: #14171a;
  --backgroundColor: #ffffff;
  --buttonColor: #1da1f2;
  --buttonHoverColor: #1a92da;
  --orangeColor: #f58f29;
  --borderColor: #e6ecf0;
  --buttonFontColor: #ffffff;
  --redColor: #c1292e;
}

.alignItemsCenter {
  align-items: center;
}

.opacity0_5ForDisabled:disabled {
  opacity: 0.5;
}

.backgroundColorButton {
  background-color: var(--buttonColor);
}

.backgroundColorButtonHoverOnHover:hover {
  background-color: var(--buttonHoverColor);
}

.backgroundTransparent {
  background: transparent;
}

.borderBottomStyleSolid {
  border-bottom-style: solid;
}

.borderColorBorder {
  border-color: var(--borderColor);
}

.borderColorButton {
  border-color: var(--buttonColor);
}

.borderLeftStyleSolid {
  border-left-style: solid;
}

.borderRadiusRounded {
  border-radius: 9999px;
}

.borderRightStyleSolid {
  border-right-style: solid;
}

.borderStyleSolid {
  border-style: solid;
}

.borderNone {
  border: none;
}

.borderWidth1px {
  border-width: 1px;
}

.colorButtonFont {
  color: var(--buttonFontColor);
}

.cursorPointer {
  cursor: pointer;
}

.displayBlock {
  display: block;
}

.displayFlex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex_6 {
  flex: 0.6;
}

.flex_2 {
  flex: 0.2;
}

.flexDirectionColumn {
  flex-direction: column;
}

.fontFamilySerif {
  font-family: Arial, Helvetica, sans-serif;
}

.fontWeightBold {
  font-weight: bold;
}

.fontWeightLighter {
  font-weight: lighter;
}

.fontWeightNormal {
  font-weight: normal;
}

.fontSize80Percent {
  font-size: 80%;
}

.fontSize120Percent {
  font-size: 120%;
}

.fontSize150Percent {
  font-size: 150%;
}

.fontSize1_5em {
  font-size: 1.5em;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentFlexEnd {
  justify-content: flex-end;
}

.margin0 {
  margin: 0;
}

.margin2 {
  margin: calc(var(--pixelUnit) * 2);
}

.marginBottom0 {
  margin-bottom: 0;
}

.marginBottom1 {
  margin-bottom: calc(var(--pixelUnit) * 1);
}

.marginTop0 {
  margin-top: 0;
}

.marginTop2 {
  margin-top: calc(var(--pixelUnit) * 2);
}

.marginTop10 {
  margin-top: calc(var(--pixelUnit) * 10);
}

.marginTop20 {
  margin-top: calc(var(--pixelUnit) * 20);
}

.marginY0 {
  margin-top: 0;
  margin-bottom: 0;
}

.marginXAuto {
  margin-left: auto;
  margin-right: auto;
}

.marginLeft0 {
  margin-left: 0;
}

.marginLeft2 {
  margin-left: calc(var(--pixelUnit) * 2);
}

.marginLeft3 {
  margin-left: calc(var(--pixelUnit) * 3);
}

.maxWidth400 {
  max-width: 400px;
}

.maxWidth600 {
  max-width: 600px;
}

.minHeight100vh {
  min-height: 100vh;
}

.overflowHidden {
  overflow: hidden;
}

.padding0 {
  padding: 0;
}

.padding2 {
  padding: calc(var(--pixelUnit) * 2);
}

.padding3 {
  padding: calc(var(--pixelUnit) * 3);
}

.padding4 {
  padding: calc(var(--pixelUnit) * 4);
}

.paddingLeft0 {
  padding-left: 0;
}

.colorRed {
  color: var(--redColor);
}

.textAlignCenter {
  text-align: center;
}

.textDecorationNone {
  text-decoration: none;
}

.textOverflowEllipsis {
  text-overflow: ellipsis;
}

.transformScale1_5 {
  transform: scale(1.5);
}

.visibilityHidden {
  visibility: hidden;
}

.visibilityVisible {
  visibility: visible;
}

.width50 {
  width: calc(var(--pixelUnit) * 50);
}

.width100Percent {
  width: 100%;
}

/**
* GLOBAL STYLES
**/
* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
}

body {
  border-top: 4px solid var(--orangeColor);
  color: var(--fontColor);
}

/* nav {
  padding: calc(var(--pixelUnit) * 3);
  border-bottom: 1px solid var(--borderColor);
} */

/* h1 {
  margin-top: 0;
} */

html {
  background-color: var(--backgroundColor);
}
