:root {
  --pixelUnit: 4px;
  --gray800: #424242;
}

.alignItemsCenter {
  align-items: center;
}

.backgroundColorRed {
  background-color: red;
}

.borderNone {
  border: none;
}

.colorRed {
  color: red;
}

.colorGray900 {
  color: var(--gray800);
}

.displayBlock {
  display: block;
}

.displayFlex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex_6 {
  flex: 0.6;
}

.flex_2 {
  flex: 0.2;
}

.flexDirectionColumn {
  flex-direction: column;
}

.fontFamilySerif {
  font-family: Arial, Helvetica, sans-serif;
}

.fontWeightBold {
  font-weight: bold;
}

.fontWeightLighter {
  font-weight: lighter;
}

.fontSize120Percent {
  font-size: 120%;
}

.fontSize150Percent {
  font-size: 150%;
}

.fontSize1_5em {
  font-size: 1.5em;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentFlexEnd {
  justify-content: flex-end;
}

.margin0 {
  margin: 0;
}

.margin2 {
  margin: calc(var(--pixelUnit) * 2);
}

.marginTop0 {
  margin-top: 0;
}

.marginTop2 {
  margin-top: calc(var(--pixelUnit) * 2);
}

.marginTop10 {
  margin-top: calc(var(--pixelUnit) * 10);
}

.marginTop20 {
  margin-top: calc(var(--pixelUnit) * 20);
}

.marginY0 {
  margin-top: 0;
  margin-bottom: 0;
}

.marginXAuto {
  margin-left: auto;
  margin-right: auto;
}

.marginLeft0 {
  margin-left: 0;
}

.marginLeft3 {
  margin-left: calc(var(--pixelUnit) * 3);
}

.maxWidth400 {
  max-width: 400px;
}

.overflowHidden {
  overflow: hidden;
}

.padding0 {
  padding: 0;
}

.paddingLeft0 {
  padding-left: 0;
}

.textAlignCenter {
  text-align: center;
}

.textOverflowEllipsis {
  text-overflow: ellipsis;
}

.transformScale1_5 {
  transform: scale(1.5);
}

.width50 {
  width: calc(var(--pixelUnit) * 50);
}
